# Diretórios do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
.venv/
env/
venv/

# Arquivos de configuração de IDEs
.vscode/
.idea/
*.swp

# Banco de dados vetorizado do Chroma
chroma/

# Arquivos de log ou temporários
*.log
*.tmp
*.bak

